.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    
}

.newsletter {
    color: grey;
    border: thin solid #cfcfcf;
    border-radius: 3px;
    padding: 10px;
}

.newsletter button {
    background-color: #3cb878;
    color: white;
    border: none;
    display: block;
    width: 100%;
    height: 30px;
}

.newsletter h3{
    margin-top: 0;
}

.newsletter input#email {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 4px;
    border:#cfcfcf solid 1px;
    border-radius: 3px;
    box-sizing: border-box;
}

.newsletter #terms {
    position: relative;
    top: 1.5px;
}